{% extends 'base.html' %}
{% block title %}
workkout
{% endblock title %}
{% block head %}

<h1>workout</h1>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <br>
    <br>


    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Legs</h5>
        <ul type="disk">
            <!-- <h2>Health Benefits</h2> -->
            <li>Maintains good body symmetry</li>
            <li>Makes joints stronger</li>
            <li>Promotes better muscle conditioning and body composition</li>
            <li>Improves functional movements</li>
            <li>Promotes better muscle conditioning and body composition</li>
        </ul>
      </div>
    </div>
    <br>
    <br>


    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>     
  
  <br>
  <br>

  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Legs</h5>
      <ul type="disk">
          <!-- <h2>Health Benefits</h2> -->
          <li>Maintains good body symmetry</li>
          <li>Makes joints stronger</li>
          <li>Promotes better muscle conditioning and body composition</li>
          <li>Improves functional movements</li>
          <li>Promotes better muscle conditioning and body composition</li>
      </ul>
    </div>
  </div>
  <br>
  <br>


  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>  



{% endblock head %}